{#
Nav header / menu
Different links defined for logged-in users
#}

<nav>
    <ul>
        <li><strong><a href="/">Testing</a></strong></li>
    </ul>

    <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/things">Things</a></li>

        {% if session['name'] %}

            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">{{ session['name'] }}</a></li>

        {% else %}

            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>

        {% endif %}

    </ul>
</nav>

