<article id="user-details">

    <header>
        <h2>{{ user['name'] }}</h2>
    </header>

    <h4>Owns</h4>

    {% if things %}

        <ul id="things">
        {% for thing in things %}
            {% with name=thing['name'], image=thing['image'] %}
                {% include 'components/thing.jinja' %}
            {% endwith %}
        {% endfor %}
        </ul>

    {% else %}

        <p>Nothing!</p>

    {% endif %}

</article>

