{#
Sign up form page
#}

{% extends 'pages/base.jinja' %}


{% block title %}Sign Up{% endblock %}


{% block content %}

    <article>
        <header>
            <h1>Sign Up</h1>
        </header>

        <form action="/signup" method="post">

            <label>
                Name
                <input name="name" type="text" required>
            </label>

            <label>
                Username
                <input name="username" type="text" required>
            </label>

            <label>
                Password
                <input name="password" type="password" required>
            </label>

            <input type="submit" value="Sign Up">

        </form>

        <footer>
            Or, if you already have an account, <a href="/login">Login</a>
        </footer>
    </article>

{% endblock %}

