:root {
    --primary: #d81b60;
    --primary-hover: #c2185b;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #FFF;

    --alert-text: #51af57;
    --error-text: #bb5151;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    max-width: 60rem;
}

body > footer {
    text-align: center;
}

details {
    margin-top: 0.7rem;
}

form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}


#user {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

#user > :last-child {
    flex: 1;
}

#user-list {
    padding: 0;
}

#user-list li {
    list-style: none;
}

#thing-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

#thing-list .thing-details {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    width: 8rem;
    text-align: center;
}

#thing-list .thing-details img {
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

#flashes {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--pico-block-spacing-vertical);
}

#flashes .message {
    color: var(--color);
    list-style: none;
    text-align: center;
}

#flashes .message {
    --color: var(--alert-text);
}

#flashes .error {
    --color: var(--error-text);
}
