{% extends 'base.jinja' %}

{% block content %}

    <h1>{{ person['name'] }}</h1>

    <article>

        <h2>Owns</h2>

        {% if things %}

            <ul>

            {% for thing in things %}

                <li>
                    {{ thing['name'] }}
                </li>

            {% endfor %}

            </ul>

        {% else %}

            <p>Nothing!</p>
            
        {% endif %}

    </article>

{% endblock %}

