{% extends 'base.jinja' %}


{% block title %}Sign Up{% endblock %}


{% block content %}

    <article>
        <header>
            <h1>Sign Up</h1>
        </header>

        <form action="/signup" method="post">

            <fieldset>
                <label>Name</label>
                <input name="name" type="text" required>

                <label>Username</label>
                <input name="username" type="text" required>

                <label>Password</label>
                <input name="password" type="password" required>
            </fieldset>

            <input type="submit" value="Sign Up">

        </form>

        <footer>
            Or, if you already have an account, <a href="/login">Login</a>
        </footer>
    </article>

{% endblock %}

