{% extends 'base.jinja' %}


{% block title %}Things{% endblock %}


{% block content %}

    <article>

        <header>
            <h1>All the Things</h1>
        </header>

        {% if things %}

            <ul id="thing-list">
            {% for thing in things %}
                {% with id=thing['t_id'], name=thing['t_name'], image=thing['t_image'], owner=thing['u_id'], owner_name=thing['u_name'] %}
                    {% include 'components/thing.jinja' %}
                {% endwith %}
            {% endfor %}
            </ul>

        {% else %}

            <p>No things, yet!</p>

        {% endif %}

        {% if session['username'] %}
            <footer>
                <details>
                    <summary>Add a Thing</summary>

                    <form action="/things/new" method="post" enctype="multipart/form-data">

                        <label>Name</label>
                        <input name="name" type="text" required>

                        <label>Image</label>
                        <input
                            name="image"
                            type="file"
                            accept="image/png, image/jpeg, image/gif, image/webp"
                            required
                        >

                        <input name="owner" type="hidden" value="{{ session['id'] }}">

                        <input type="submit" value="Add Thing">

                    </form>
                </details>
            </footer>
        {% endif %}

    </article>

{% endblock %}

