{% extends 'base.jinja' %}

{% block content %}

    <h1>{{ title }}</h1>

    <article>

        <ul>

        {% for thing in things %}
            <li><strong>{{ thing['t_name'] }}</strong> (owned by {{ thing['u_name'] }})</li>
        {% endfor %}

        </ul>

    </article>

    <article>
        <form action="/thing/new" method="post">

            <label>Name</label>
            <input name="name" type="text" required>

            <label>Owner</label>
            <select name="owner" required>
                <option value="">Select one...</option>

                {% for person in people %}
                    <option value="{{ person['id'] }}">{{ person['name'] }}</option>
                {% endfor %}

            </select>

            <input type="submit" value="Add Person">

        </form>
    </article>


{% endblock %}

