{% extends 'base.jinja' %}


{% block title %}Users{% endblock %}


{% block content %}

    <article>

        <header>
            <h1>All the Users</h1>
        </header>

        {% if users %}

            <ul>

            {% for user in users %}
                <li
                    hx-get="/user/{{ user['id'] }}"
                    hx-target="#user-details"
                    hx-swap="outerHTML"
                >
                    {{ user['name'] }}
                </li>
            {% endfor %}

            </ul>

        {% else %}

            <p>No users, yet!</p>

        {% endif %}

    </article>

    <article id="user-details">
        Select a user...
    </article>

{% endblock %}

