{% extends 'base.jinja' %}


{% block title %}User Details{% endblock %}


{% block content %}

    {% if user %}

        <article>

            <header>
                <h1>{{ user['name'] }}</h1>
            </header>

            <h4>Owns</h4>

            {% if things %}

                <ul id="things">
                {% for thing in things %}
                    {% with name=thing['name'], image=thing['image'] %}
                        {% include 'components/thing.jinja' %}
                    {% endwith %}
                {% endfor %}
                </ul>

            {% else %}

                <p>Nothing!</p>

            {% endif %}

        </article>

    {% else %}

        <h1>Invalid ID!</h1>

    {% endif %}

{% endblock %}

