{% extends 'base.jinja' %}


{% block title %}User Details{% endblock %}


{% block content %}

    {% if user %}

        {% include 'components/user.jinja' %}

    {% else %}

        <h1>Invalid ID!</h1>

    {% endif %}

{% endblock %}

